#main {
    display: flex;
    font-family: "lig";
}
#main > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#left {
    width: 200px;
    max-width: 200px;
    word-break: break-all;
}
#left > .token {
    font-size: 12px;
}

#main input, 
#main button,
#main select
{
    font-family: "lig";
    height: 30px;
    border-radius: 5px;
    background: none;
    padding-left: 5px;
    padding-right: 10px;
    border: 1px solid var(--CGray);
}
#main input:hover, 
#main button:hover, 
#main select:hover
{
    border: 1px solid var(--CB4);
}

#main > * > button,
#main > * > label > select  {
    font-family: "reg";
}

.selectFile {
    border: none !important;
}

.selectFile input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.selectFile label {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--CGray);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.selectFile label:hover {
    border: 1px solid var(--CB4);
}

.progressBarWrapper {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 10px;
}
.progressBarContainer {
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
    margin: 10px 0;
}

.progressBar {
    background-color: var(--CB4);
    height: 8px;
    border-radius: 4px;
    text-align: center;
    line-height: 24px; /* Center the text vertically */
    color: white;
}
  

@media (prefers-color-scheme: dark) {

    #main input, 
    #main button, 
    #main select 
    {
        border: 1px solid #333;
    }
    #main input:hover, 
    #main button:hover, 
    #main select:hover
    {
        border: 1px solid #666;
    }
    .selectFile label {
        border: 1px solid #333;
        color: white;
    }
    
    .selectFile label:hover {
        border: 1px solid #666;
    }

    .progressBarContainer {
        background-color: var(--CB4);
        border-radius: 4px;
        margin: 10px 0;
    }
    
    .progressBar {
        background-color: var(--CB2);
    }

}